<div class="main" ng-app="EchoNestArtistsApp" ng-controller="MainCtrl" ng-init="init()">
	<ul class="artists-list row">
		<li class="artist col-xs-6 col-sm-6 col-md-4 col-lg-3 animate-transition" ng-repeat="artist in artists" style="background-color: {{ artist.color }};">
			<p class="hotttnesss-rank">{{ artist.hotttnesss_rank }}</p>
			<p class="score">{{ artist.score }}</p>
			<p class="name">{{ artist.name }}</p>
			<p class="location">{{ artist.location }}</p>
			<p class="official-url"><a href="{{ artist.official_url }}" target="_blank">Official Website</a></p>
			<p class="lastfm-url"><a href="{{ artist.lastfm_url }}" target="_blank"><span class="cover-image"></span>LastFM</a></p>
		</li>
	</ul>
</div>