<div class="artists container-fluid" ng-app="EchoNestArtistsApp" ng-controller="MainCtrl" ng-init="init()">
	<ul class="artists-list row-fluid">
		<li class="artist col-xs-12 col-sm-6 col-md-4 col-lg-3 animate-transition"
				style="background-color: {{ artist.color }};"
				ng-repeat="artist in artists | orderBy: 'rank'">
			<p class="hotttnesss-rank">{{ artist.rank }}</p>
			<p class="score">{{ artist.score }}</p>
			<p class="name">{{ artist.name }}</p>
			<p class="location">{{ artist.location }}</p>
			<p class="official-url"><a class="animate-transition" href="{{ artist.official_url }}" target="_blank">Official Website</a></p>
			<p class="lastfm-url"><a class="animate-transition" href="{{ artist.lastfm_url }}" target="_blank"><span class="cover-image"></span>LastFM</a></p>
		</li>
	</ul>
</div>