
<header class="navigation container-fluid">
	<h1 class="row">Top Rated Artists</h1>
	<nav class="row">
		<button type="button" class="btn btn-danger btn-sm">hottest Artists</button>
		<button type="button" class="btn btn-default btn-sm">Rising Artists</button>
		<button type="button" class="btn btn-default btn-sm">Most Familiar Artists</button>
		<button type="button" class="btn btn-default btn-sm">Overall Score</button>
	</nav>
</header>
