@charset "utf-8";

html {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-color: transparent !important;
	padding: 0 !important;
}
.top-header {
	position: fixed;
	top: 0;
	background: rgb(22,22,23);
	width: 100% !important;
	height: 45px;
	z-index: 9999;
}
.top-header h1 {
	margin: 0 0 0 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 45px;
	color: rgb(220,220,220);
}
.top-header img {
	position: absolute;
	top: 0;
	right: 10px;
}
header {
	height: 240px;
	margin-top: 45px;
	text-align: center;
	opacity: 0;
}
header h1 {
	margin: 56px 0 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	text-shadow: 2px 6px 6px rgba(100,100,100,.4);
	color: white;
}
header button {
	margin-right: 20px;
}
header button:last-child {
	margin-right: 0;
}
.artists {
	padding: 0 !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.artists-list {
	position: relative;
	top: -240px;
	margin-bottom: 0; 
	padding: 0;
	background: transparent;
	opacity: 0;
}
.artists-list li {
	display: block;
	float: left;
	background: rgba(150,150,150,.5);
	height: 200px;
	border: 1px solid rgba(22,22,23,.5);
}
.artists-list li:hover {
	background: rgba(255,255,255,.9) !important;
}
.artists-list p,
.artists-list a {
	margin: 6px 0;
	padding: 0;
	font-size: 1.25em;
	line-height: 1.25em;
	text-align: center;
	color: rgb(40,40,40);
}
p.hotttnesss-rank,
p.score {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1.1em;
}
p.score {
	left: auto;
	right: 20px;
}
p.name {
	margin-top: 42px;
	font-weight: bold;
}
p.location {
	margin-bottom: 20px;
	font-style: italic;
}
p.official-url a,
p.lastfm-url a {
	list-style: none;
	font-size: 0.9em;
	cursor: pointer;
}
p.official-url a:hover,
p.lastfm-url a:hover {
	text-decoration: none;
	color: rgb(40,40,40);
}
p.lastfm-url a,
p.lastfm-url span {
	display: inline-block;
}
p.lastfm-url span {
	width: 20px;
	height: 12px;
	margin-right: 6px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* global classes */

.animate-transition {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.btn-default {
	background: white !important;
}
.btn-default:hover {
	background: rgb(125,184,94) !important;
	color: white !important;
	text-shadow: none !important;
}
