@charset "utf-8";

html {
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background: transparent !important;
	padding: 0 !important;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.top-header {
	position: fixed;
	top: 0;
	background: rgb(22,22,23);
	width: 100% !important;
	height: 45px;
	z-index: 9999;
}
.top-header h1 {
	margin: 0 0 0 10px;
	font-weight: 300;
	font-size: 1.5em;
	line-height: 45px;
	color: rgb(220,220,220);
	cursor: default;
}
.top-header img {
	position: absolute;
	top: 0;
	right: 10px;
}
header {
	height: 240px;
	margin-top: 45px;
	text-align: center;
	opacity: 0;
}
header h1 {
	margin: 56px 0 30px;
	font-weight: 300;
	text-shadow: 2px 6px 6px rgba(100,100,100,.4);
	color: white;
	cursor: default;
}
header button {
	margin-right: 20px;
}
header button:last-child {
	margin-right: 0;
}
.artists {
	padding: 0 !important;
}
.artists-list {
	position: relative;
	top: -240px;
	margin-bottom: 0; 
	padding: 0;
	opacity: 0;
}
.artists-list li {
	display: block;
	float: left;
	height: 200px;
	border-top: 1px solid rgba(255,255,255,.4);
	border-right: 1px solid rgba(255,255,255,.4);
	text-align: center;
}
.artists-list li:hover {
	background: rgba(255,255,255,.9) !important;
}
.artists-list p,
.artists-list a {
	margin: 6px 0;
	padding: 0;
	font-size: 1.25em;
	line-height: 1.25em;
	color: rgb(40,40,40);
	cursor: default;
}
p.hotttnesss-rank,
p.score {
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1.1em;
}
p.score {
	left: auto;
	right: 20px;
}
p.name {
	margin-top: 42px;
	font-weight: bold;
}
p.location {
	margin-bottom: 20px;
	font-style: italic;
}
p.official-url a,
p.lastfm-url a {
	list-style: none;
	font-size: 0.9em;
	cursor: pointer;
}
p.official-url a:hover,
p.lastfm-url a:hover {
	text-decoration: none;
	color: rgb(47,100,185);
	cursor: pointer;
}
p.lastfm-url a,
p.lastfm-url span {
	display: inline-block;
}
p.lastfm-url span {
	width: 20px;
	height: 12px;
	margin-right: 6px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* global classes */

.bottom-shadow {
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
	-o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.55);
}
.slow-transition {
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
.fast-transition {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.btn-default {
	background: white !important;
}
.btn-default:hover {
	background: rgb(125,184,94) !important;
	color: white !important;
	text-shadow: none !important;
}
.btn:focus {
	outline: none !important;
}

/* responsive media */

/* Smaller devices (iPhone, less then 768px) */
@media (max-width: 767px) {
	.artists-list li { border-right: none; }
	.artists-list li:last-child { border-bottom: 1px solid rgba(255,255,255,.4); }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.artists-list li:nth-child(2n+2) { border-right: none; }
	.artists-list li:nth-last-child(-n+2) { border-bottom: 1px solid rgba(255,255,255,.4); }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
	.artists-list li:nth-child(3n+3) { border-right: none; }
	.artists-list li:nth-last-child(-n+3) { border-bottom: 1px solid rgba(255,255,255,.4); }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.artists-list li:nth-child(4n+4) { border-right: none; }
	.artists-list li:nth-last-child(-n+4) { border-bottom: 1px solid rgba(255,255,255,.4); }
}
